@Mod include.,,,,
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


 <!--
     <table>

     @foreach (var s in Model)
     { 
        <tr>
            <td>
                @s.AccId
            </td>
            <td>
                @s.AccName
            </td>
             <td>
                @s.AccEmail
            </td> 
            
            <td>
                @Html.ActionLink("Edit", "update/"+ s.AccId, "UserAccount")

            </td>

            <td>
                @Html.ActionLink("Delete","delete/"+ s.AccId,"UserAccount")
            </td>
            <td>

            </td>
        </tr>
     }
         </table>
   -->