@model EducationCommunity.Models.Account
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jquery")


<script>
    function func() {
        var fnm = $('#emailBox').val();
         // validation of username
        $.getJSON("/UserAccount/validateEmail?un=" + fnm, function (data) {
            if (data) {
           //    alert("Username available");
               $('#pSuccess').show();
            }
            else {
//                alert("username not available");

                 $('#pFail').show();
            }
        }
)
    }
</script>
    
<h2>Register</h2>



<div class="container">
<div class="main">
    
  
    <div class="col-md-4">
        <div class="form-horizontal">
    @using (Html.BeginForm("registerUser", "UserAccount", FormMethod.Post))
    {
        @Html.ValidationSummary(false);
        <div class="form-group">
                @Html.TextBoxFor(m => m.AccEmail, new { id="emailBox",type = "Email", placeholder = "Email Address",required="required" })
             <input type="button" id="chkBtn" value="Check Availability" onclick="func()">
      </div>  <br />
        <p id="pSuccess" hidden style="color:green"  > UserName available</p>
        
        <p  style="color:red" id="pFail" hidden >Username not available</p>
        <div class="form-group">
        @Html.TextBoxFor(m => m.AccName, new { placeholder = "Username",required="required" })
           
        </div><br/>
        <div class="form-group">
        @Html.TextBoxFor(m => m.AccPassword, new { placeholder = "Password", type = "password" ,required="required"})</div><br />
     <div class="form-group">
        @Html.TextBoxFor(m => m.AccPhone, new { placeholder = "Phone Number", type = "phone" })</div><br />
    
        
        <div class="form-group">
        <button class="btn btn-primarry btn-block col-md-3" type="submit">Sign up</button>
     </div>
        
   <!--
        <div> <div>             <div class="col-md-3">
                @Html.Label("Email", "Email Address")
                </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.AccEmail)
            </div>
        </div>
        
           <br>
        <div>
        <div class="col-md-3">
            @Html.Label("Name", "Full Name")
            </div>
        <div class="col-md-4">
        @Html.TextBoxFor(m => m.AccName)
       </div>           </div>
        
        <br />

        <div><div class="col-md-3">
            @Html.Label("pass", "Password")
            </div>
        <div class="col-md-4">
        @Html.TextBoxFor(m => m.AccPassword)
        </div></div><br>
 <div>       <div class="col-md-3">
                @Html.Label("phone", "Phone")
            </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.AccPhone)
      </div>  </div><br>
        <div class="col-md-3"></div>
        <input type="submit" value="Add Account">
            
        </div>-->
    }
        </div>
    
     </div>
    </div>
    
</div>